<section id="contact-us" class="t-p medida wow fadeInUp">
    <div class="container wow fadeIn" data-wow-delay=".5s">
        <h2> Casa - Sobre nosotros</h2>
        <h4> ” Estamos por cumplir 10 años y nos seguimos reinventándose ”</h4>
        <div class="check-title">
            <div class="itemo">
                <i class="fa fa-check-square-o" aria-hidden="true"></i>
                <p>Sede: Calle celeste n 12 Bajo 5 madrid 28043 </p>
            </div>
            <div class="itemo">
                <i class="fa fa-check-square-o" aria-hidden="true"></i>
                <p>
                    TRABJAMOS ONLIEN

                </p>
            </div>
            <div class="itemo">
                <i class="fa fa-check-square-o" aria-hidden="true"></i>
                <p>
                    Teléfono de Contacto:  64 88 130 28

                </p>
            </div>
            <div class="itemo">
                <i class="fa fa-check-square-o" aria-hidden="true"></i>
                <p>
                    FECHA DE FUNDACIÓN: marzo de 2003/ LICENCIA de Turismo 2009
                </p>
            </div>
            <div class="itemo">
                <i class="fa fa-check-square-o" aria-hidden="true"></i>
                <p>
                    Registro mercantil de Madrid: CIF C.I.C.M.A.  nº 2287”

                </p>
            </div>
            <div class="itemo">
                <i class="fa fa-check-square-o" aria-hidden="true"></i>
                <p>
                    Registro mercantil de Madrid: CIF C.I.C.M.A.  nº 2287”

                </p>
            </div>


        </div>
        <p>
            Estamos por cumplir 10 años y nos seguimos reinventándose ”
            El amor, la pasión, la humildad, el esfuerzo y la superación día a día, nos han convertido en una
            empresa distinta.
            La diferencia radica en el permanente perfil innovador que nos identifica y caracteriza.

            Hemos quebrado viejos paradigmas para inventar un modelo que se destaca por su capacidad de prestar
            servicios de calidad a todos nuestros clientes.

            WWW.ALASDEISIS.COM es un nuevo portal de turismo orientado a brindar servicios a quienes desean viajar
            tanto a Egipto como a Jordania, Turquía, Maruecos y Tunez. Ofrece conexión con casi todas las compañías
            aéreas que vuelan en forma regular entre España y Egipto.
            En WWW.ALASDEISIS.COM el término oferta significa para nuestro equipo el compromiso de haber investigado
            que el producto o servicio tipificado como “oferta” tiene ventajas sobresalientes.
        </p>
    </div>
</section>