@page
@model UserRegisterModel
@{
    ViewData["Title"] = "Register";
}


<section id="contact-us" class="medida wow fadeInUp contact-us">
    <div class="container wow fadeIn" data-wow-delay=".5s">
        <div class="row">
            <div class="regist wow fadeInRight">
                <div class="box-input">
                    <form asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal box panel panel-default">
                        <input type="hidden" asp-for="RequestId" />
                        <input type="hidden" asp-for="Input.RequestId" />
                        <h3 class="panel-heading">Create an account</h3>
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form_content panel-body clearfix">
                            <div class="form-group required">
                                <label asp-for="Input.FirstName"></label>
                                <input asp-for="Input.FirstName" class="form-control" />
                                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                            </div>
                            <div class="form-group required">
                                <label asp-for="Input.LastName"></label>
                                <input asp-for="Input.LastName" class="form-control" />
                                <span asp-validation-for="Input.LastName" class="text-danger"></span>
                            </div>
                            <div class="form-group required">
                                <label asp-for="Input.UserName"></label>
                                <input asp-for="Input.UserName" class="form-control" />
                                <span asp-validation-for="Input.UserName" class="text-danger"></span>
                            </div>
                            <div class="form-group required">
                                <label asp-for="Input.Email"></label>
                                <input asp-for="Input.Email" class="form-control" />
                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                            </div>
                            <div class="form-group required">
                                <label asp-for="Input.Password"></label>
                                <input asp-for="Input.Password" class="form-control" />
                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                            </div>
                            <div class="form-group required">
                                <label asp-for="Input.ConfirmPassword"></label>
                                <input asp-for="Input.ConfirmPassword" class="form-control" />
                                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                            </div>
                            <div class="form-group required">
                                <label asp-for="Input.Phone"></label>
                                <input asp-for="Input.Phone" class="form-control" />
                                <span asp-validation-for="Input.Phone" class="text-danger"></span>
                            </div>
                            <div class="form-group required">
                                <label asp-for="Input.Address"></label>
                                <textarea asp-for="Input.Address" class="form-control"></textarea>
                                <span asp-validation-for="Input.Address" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="form-control ">Register   </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div> <!-- end container -->
    </div> <!-- end container -->
</section><!--end columns -->

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        $(document).ready(function () {
            $("#Input_RequestId").val($("#RequestId").val());
        });
    </script>
}
